{% extends 'base.html' %}

{% block content %}

<!-- Описание правил игры -->

<h1 class="title">Привет, поиграем? <img class="start" src="static/start.jpg" alt=""></h1>

<h2 class="header">Правила игры</h2>
<div>
    <p>Тебе будет дано слово, которое нужно угадать. В начале игры выбери максимальную длину слова: 6 букв
        либо 12 букв.</p>
    <p>От этого зависит количество попыток (6 попыток за слова до 6 букв, 9 попыток за слова от 7 до 12 букв).</p>
    <p>В загаданном слове открыты первая и последняя буквы, а также нарисована виселица.</p>
    <p>Ты вводишь букву, которая, как тебе кажется, есть в слове.</p>
    <p>Если буква есть - она появляется в слове столько раз, сколько она встречается в слове, если нет - к виселице
        добавляется дополнительный элемент.</p>
    <p>Продолжай отгадывать буквы до тех пор, пока не отгадаешь всё слово или не закончатся попытки. За каждую неудачную
        попытку добавляется еще одна часть туловища висельника.</p>
</div>

<!-- Ссылки на игру и выход -->

<div>
    <a class="button_link" href="{{ url_for('choose_length') }}">Играем!</a>
    <a class="button_link_reject" href="{{ url_for('finish') }}">Не понравилось</a>
</div>

{% endblock content %}